.loading-box
  margin: 0 auto
  margin-top: 200px
  width: 200px

  .loading-text
    color: black
    padding-bottom: 30px

  .loading-container
    border-radius: 10px
    background-color: gray
    height: 20px

    .loading
      background-color: blue
      border-radius: 10px
      width: 0%
      height: 100%